.App {
  text-align: center;
}

.title {
  padding-top: 20px;
}

.subtitle {

}

.play-button {
  background: transparent;
  border: none;
  outline: none;
}

.fa-play-circle {
  font-size: 6rem;
  margin-top: 150px;
}


