// @font-face {
//   font-family: 'Jedi-Rounded';
//   src: url('/fonts/Stjedise.woff') format('woff');
// }

.App {
  text-align: center;
}

.title {
  font-family: 'Jedi-Rounded', sans-serif;
  padding-top: 40px;
}

.play-button {
  background: transparent;
  border: none;
  margin-top: 80px;
  outline: none;
}

.play-button-icon {
  font-size: 6rem;
}